name: Run Selenium Script on Safari

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  schedule:
    - cron: '0 */4 * * *'  # Run every 6 hours

jobs:
  selenium:
    runs-on: macos-latest  # GitHub Actions supports Safari on macOS

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Enable SafariDriver
        run: |
          sudo safaridriver --enable

      - name: Run Selenium script
        run: |
          python test_selenium.py  # This will run your test_selenium.py script

      - name: Print additional debugging info
        run: echo "Script ran successfully"
